@import './shared/fonts';

@import './index';

@import './shared/fonts';

@import './header';

@import './shared/colors';
@import './shared/portfolios';


html, body {
  font-family: 'Montserrat', 'Helvetica' !important;
  height: 100%;
  width: 100%;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  margin-top: 10px;
}

// .title-brand {
//   font-weight: bolder;
//   color: rgb(156, 156, 156) !important;
// }

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;;
} 

.base-page {
  padding-top: 150px;
  color: white;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
