@import './shared/fonts';

html, body {
  font-family: 'Montserrat', 'Helvetica' !important;
}

.customClassFromFile {
  color: blue;
  font-size: 30px;
}

.fromPage {
  font-size: 50px;
}